streamlit
pandas
numpy
openpyxl
pyarrow
fastparquet
gdown
sqlalchemy
Office365-REST-Python-Client
thefuzz
python-Levenshtein
seaborn
boto3
requests
groq
phonenumbers 
email-validator 
usaddress
nameparser
sentence-transformers 
scikit-learn 
numpy
pandas
